<main>
    <div class="shop-section">
        <div class="container">
            <div class="card mb-5">
                <div class="row g-0">
                    <div class="col-lg-4 p-4">
                        <p class="fw-bold mb-3">Basic Information</p>
                        <p class="text-muted mb-3">
                            Edit your account details and settings.
                        </p>
                    </div>
                    <div class="col-lg-8 p-4">
                        {{#with user}}
                        <form id="profile-form" method="post" action="/profile" enctype="multipart/form-data">
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="fname">First name</label>
                                        <input id="fname" type="text" class="form-control" placeholder="First name"
                                            name="firstname" value={{first_name}} rules="required" />
                                        <div class="invalid-feedback"></div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="lname">Last name</label>
                                        <input id="lname" type="text" class="form-control" placeholder="Last name"
                                            name="lastname" value={{last_name}} rules="required" />
                                        <div class="invalid-feedback"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label for="email">Email</label>
                                        <input id="email" type="text" class="form-control" placeholder="Email"
                                            name="email" value={{email}} readonly />
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <label for="tel">Tel</label>
                                        <input id="tel" type="text" class="form-control" placeholder="Tel" name="phone"
                                            value={{telephone}} readonly />
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="desc">Birthday</label>
                                <input class="form-control" type="date" placeholder="Birthday" name="birthday"
                                    value={{dob}} rules="required" />
                                <div class="invalid-feedback"></div>
                            </div>
                            <div class="form-group">
                                <label>Avatar</label>
                                <div class="d-flex align-items-center">
                                    <div class="me-3">
                                        <div class="avatar">
                                            <img src={{avatar avatar}} class="avatar-img rounded" alt="..." width="80"
                                                height="80" />
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <label for="photo" class="btn px-3">Upload Image</label>
                                        <input type="file" id="photo" name="photo" class="d-none" accept="image/*" />
                                        </input>
                                    </div>
                                </div>
                            </div>
                            <div class="text-end">
                                <button class="btn">Save</button>
                            </div>
                        </form>
                        {{/with}}
                    </div>
                </div>
            </div>

            <div class="card mb-5">
                <div class="row g-0 p-4">
                    <div class="col-lg-4 p-4">
                        <p class="fw-bold mb-3">Shiping Addreses</p>
                        <p class="text-muted mb-3">
                            Manage your shipping address.
                        </p>
                    </div>
                    <div class="col-lg-8 p-4">
                        <div class="d-flex justify-content-end align-items-center mb-4">
                            <a href="/profile//address/add" class="btn"><i class="fas fa-plus me-2"></i>Add New
                                Address</a>
                        </div>
                        {{#each addresses }}
                        <div class="border-top p-3">
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="address-item">
                                    <input type="hidden" name="id" value={{id}}>
                                    <div class="address-detail d-flex">
                                        <div class="label">Full Name</div>
                                        <div class="content">
                                            <h6>{{'receiver_name'}}</h6>
                                        </div>
                                    </div>
                                    <div class="address-detail d-flex">
                                        <div class="label">Telephone</div>
                                        <div class="content">{{telephone}}</div>
                                    </div>
                                    <div class="address-detail d-flex">
                                        <div class="label">Address</div>
                                        <div class="content">
                                            <span>{{'specific_address'}}</span>
                                            <br>
                                            <span>Phường {{ward}}</span>
                                            <br>
                                            <span>Quận {{district}}</span>
                                            <br>
                                            <span>{{city}}</span>
                                            <br>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-flex">
                                    <a href="/profile/address/{{id}}" class="blue-btn mx-2"><i
                                            class="fas fa-sync-alt"></i></a>
                                    <a href="javascript:void(0)" class="delete-btn mx-2"><i
                                            class="fas fa-times"></i></a>
                                </div>
                            </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div id="failed-toast" class="toast align-items-center text-white bg-danger border-0" role="alert"
            aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body">
                    Can not delete this address.
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
                    aria-label="Close"></button>
            </div>
        </div>
    </div>
</main>
<script>
    $(document).ready(() => {
        Validation('#profile-form');
        $('#photo').on('change', e => {
            if (e.target.files.length > 0) {
                const src = URL.createObjectURL(e.target.files[0]);
                $(".avatar-img").attr("src", src);
            }
        })
    })
</script>