<main>
    <section class="shop-section">
        <div class="container">
            <div class="delivery mb-4 border">
                <div class="decor mb-2"></div>
                <div class="content m-4">
                    <h4 class="text-primary"><i class="fas fa-map-marker-alt mx-3 mb-4"></i> Delivery Address</h4>
                    {{#with firstAddress}}
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="radio" name="address" id={{id}} value={{id}} checked>
                        <label class="form-check-label" for={{id}}>
                            <span class="fw-bold mx-3">{{'receiver_name'}} {{telephone}}</span>{{'specific_address'}},
                            Phường {{ward}}, Quận {{district}}, {{city}}
                        </label>
                    </div>
                    {{/with}}
                    {{#each otherAddress }}
                    <div class="form-check mb-3">
                        <input class="form-check-input" type="radio" name="address" id={{id}} value={{id}}>
                        <label class="form-check-label" for={{id}}>
                            <span class="fw-bold mx-3">{{'receiver_name'}} {{telephone}}</span>{{'specific_address'}},
                            Phường {{ward}}, Quận {{district}}, {{city}}
                        </label>
                    </div>
                    {{/each}}
                </div>
            </div>
            <div class="order px-5 py-4 mb-3 border">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Product Ordered</th>
                                <th scope="col">Price</th>
                                <th scope="col">Size</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Subtotal</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each product }}
                            <tr>
                                <input type="hidden" value={{'product_id'}}>
                                <td>
                                    <div class="media">
                                        <div class="d-flex">
                                            <img src={{'product.product_images.image_url'}} alt="product-image" />
                                            <div class="media-body ms-5 fs-6">
                                                <p>{{'product.name'}}</p>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h5>{{currencyFormat this.[product.price]}}</h5>
                                </td>
                                <td class="qty text-center">
                                    <h5>{{quantity}}</h5>
                                </td>
                                <td class="size text-center">
                                    <h5>{{size}}</h5>
                                </td>
                                <td class="total text-center">
                                    <h5>{{currencyFormat total}}</h5>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                    </table>
                </div>
                <div class="d-flex">
                    <div class="col-md-6">
                        <label for="message" class="form-label">Message</label>
                        <input type="text" name="message" id="message" class="form-control"
                            placeholder="(Optional) Leave Message for Seller">
                    </div>
                    <div class="col-md-6">
                        <div class="d-flex justify-content-end p-3">
                            <h5 class="m-2 p-2">Order Total:</h5>
                            <h5 class="m-2 p-2">{{currencyFormat total}}</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="summary px-5 mb-3 border">
                <div class="p-3 border-bottom">
                    <div class="row justify-content-end my-3">
                        <div class="col-2">Merchandise Subtotal:</div>
                        <div class="col-2 text-end">{{currencyFormat total}}</div>
                    </div>
                    <div class="row justify-content-end my-3">
                        <div class="col-2">Shipping Total:</div>
                        <div class="col-2 text-end">{{currencyFormat 15000}}</div>
                    </div>
                    <div class="row justify-content-end my-3">
                        <div class="col-2">Order Total</div>
                        <div id="order-total" class="col-2 text-end text-primary fs-3">{{currencyFormat totalWithShip}}</div>
                    </div>
                </div>
                <div class="">
                    <div class="d-flex py-3 justify-content-end">
                        <a class="btn rounded-pill mx-3" id="create-order" href="#">Place Order</a>
                    </div>
                </div>
            </div>
            </div>
    </section>
</main>