<main>
    <section class="shop-section">
        <div class="container">
            <p class="text-center billing-alert">Thank you for ordering.</p>
            <hr>
            <div class="row order-status mb-5">
                <div class="order-progress col-sm-4 {{orderProgress 'Prepairing' order.status}}">Prepairing products</div>
                <div class="order-progress col-sm-4 {{orderProgress 'Delivering' order.status}}">Delivering</div>
                <div class="order-progress col-sm-4 {{orderProgress 'Success' order.status}}">Delivered successfully</div>
            </div>
            <div class="row mb-5">
                <div class="col-md-6 mb-4 mb-xl-0">
                    <div class="confirmation-card">
                        <h3 class="billing-title">Order Info</h3>
                        <div class="row">
                            <div class="col-3">
                                <p>Order number</p>
                                <p>Date</p>
                                <p>Note</p>
                                <p>Total</p>
                            </div>
                            {{#with order}}
                            <div class="col-9">
                                <p>: {{id}}</p>
                                <p>: {{dateFormat this.[created_at]}}</p>
                                <p>: {{note}}</p>
                                <p>: {{currencyFormat total}}</p>
                            </div>
                            {{/with}}
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mb-4 mb-xl-0">
                    <div class="confirmation-card">
                        <h3 class="billing-title">Shipping Address</h3>
                        <div class="row">
                            <div class="col-3">
                                <p>Receiver</p>
                                <p>Telephone</p>
                                <p>Address</p>
                                <p>City</p>
                            </div>
                            {{#with order}}
                            <div class="col-9">
                                <p>: {{'receiver_address.receiver_name'}}</p>
                                <p>: {{'receiver_address.telephone'}}</p>
                                <p>: {{'receiver_address.specific_address'}}</p>
                                <p>: Phường {{'receiver_address.ward'}}, Quận {{'receiver_address.district'}},
                                    {{'receiver_address.city'}}</p>
                            </div>
                            {{/with}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="order-details-table">
                <h2>Order Details</h2>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col" class="text-center">Quantity</th>
                                <th scope="col" class="text-center">Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {{#each detail }}
                            <tr>
                                <td>
                                    <p>{{'product.name'}} - Size: {{size}}</p>
                                </td>
                                <td class="text-center">
                                    <h5>{{quantity}}</h5>
                                </td>
                                <td class="text-center">
                                    <p>{{currencyFormat price}}</p>
                                </td>
                            </tr>
                            {{/each}}                            
                            <tr>
                                <td>
                                    <h4>Subtotal</h4>
                                </td>
                                <td>
                                    <h5></h5>
                                </td>
                                <td class="text-center">
                                    <p>{{currencyFormat totalWOShip}}</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h4>Shipping</h4>
                                </td>
                                <td>
                                    <h5></h5>
                                </td>
                                <td class="text-center">
                                    <p>{{currencyFormat 15000}}</p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h4>Total</h4>
                                </td>
                                <td>
                                    <h5></h5>
                                </td>
                                <td class="text-center">
                                    <h4>{{currencyFormat order.[total]}}</h4>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</main>